---
import Main from "@/layouts/main.astro"
import { Separator } from "@workspace/ui/components/separator"
import {
  DiscIcon,
  CircleDashedIcon,
  CheckCircleIcon,
  SuitcaseIcon,
  GraduationCapIcon,
  TrophyIcon,
  FlaskIcon,
  } from "@phosphor-icons/react"
  import Card from "@/components/card.astro"

  const experiencia = [{ titulo: "Siscod, Burzaco", descripcion: "Desarrollador Full Stack (Pasantias) | Ago 2025 - Oct 2025 "},{ titulo: "Freelancer", descripcion: "Desarrollador Full Stack | En 2026 - Act " }, { titulo: "Sherut", descripcion: "Desarrollador Web y Automatizaciones | Feb 2025 - Mzo 2025" } ]
  
  const educacion = [{ titulo: " E.E.S.T N°2 Ceferino Namuncurá ", descripcion: "Tecnico en programacion | Mzo 2018 - Nov 2025 "},{ titulo: "Nuevo Colegio Glew", descripcion: "Primaria | Mzo 2011 - Dic 2018"  }, { titulo: "Google Grasshopper", descripcion: "Curso de programacion | Nov 2021 - Dic 2021 " } ]
  
  const reconocimientos = [
    { titulo: "Mayor nota promedio en graduacion", descripcion: "Obtuve una nota promedio de 10 en la E.E.S.T N°2." },
    { titulo: "Casa de la Cultura", descripcion: "Participe 2 veces de la casa de la cultura y los eventos de innovación." },
    { titulo: "Olimpiadas nacionales INET 2025", descripcion: "Participe en las olimpiadas nacionales de la INET junto a un grupo de 5 integrantes." },
    { titulo: "Olimpiadas de programación UNSAM", descripcion: "Participe en la olimpiada de programación de 2025 de la Universidad de San Martín." },
    { titulo: "Evaluación PISA 2022", descripcion: "Participe en el Programa para la Evaluación Internacional de Estudiantes de 2022." },
    { titulo: "Presentación en la UNAB", descripcion: "Presente proyectos en las muestras de la Universidad Nacional de Guillermo Brown." }
    ]

const habilidades = [
{value: ["Rust", "Javascript", "Typescript", "Python", "C++", "HTML", "CSS"], name: "Lenguajes"},
{value: ["Vue", "Nuxt", "Tailwind CSS", "ShadCN UI", "Next.js","React"], name: "Frameworks"},
{value: ["Git", "Github", "Linux", "Comandos/SSH", "Docker", "Docker Compose", "Cloudflare"], name: "Herramientas"},
{value: ["Programación funcional", "Orientado a objetos", "Arquitectura de software", "API REST"], name: "Paradigmas"}
];
---

<Main>
  <div class="max-md:p-10 dotted-background min-h-svh w-full">
    <div class="container mx-auto py-20">
      <h1 class="  text-5xl font-bold uppercase">Acerca de mi</h1>
      <div class="my-12 h-1 w-20 border-2 border-primary"></div>

      <div class="grid md:grid-cols-2 gap-5 border-b-2 border-dotted pb-20">
        <div>
          <span class="mb-6 flex items-center gap-3">
            <DiscIcon className="fill-primary" size={24} />
            <h3 class="  text-2xl font-bold uppercase">Mi perfil</h3>
          </span>
          <p class="leading-relaxed text-muted-foreground">
            Desde ~2017 aprendí programación de manera autodidacta, y en 2018
            entré a una técnica en programación, graduándome en 2025 con nota
            perfecta (10/10) y varios reconocimientos.<br /> Me enfoco en crear sistemas
            que satisfagan las necesidades de mis clientes, cumpliendo fechas límites
            y utilizando servicios distribuidos como Cloudflare. Me adapto rápido
            a nuevos entornos y aprendo lo necesario para cada proyecto.<br
            /><br />
            Tengo un interés especial en automatizaciones, programación de gráficos
            y uso de LLMs especializados.<br /> Me considero un "Power User": uso
            mi propia distribución Linux Arcteto (basada en Arch) optimizada para
            eficiencia, con mi propio home server, LLM local, automatizaciones y sistema
            de backup de 3 capas que diseñé para proteger mis datos y los de mis clientes.<br
            /> Además, disfruto cocinar y hacer experimentos en mi tiempo libre.
          </p>
	</div>


      <!-- Idiomas -->
        <Card>
          <CircleDashedIcon
            className="absolute -top-3 -left-3 border-2 border-dotted bg-primary/10 fill-primary p-2"
	    size="48"
	    slot="lu-icon"
          />
          <CircleDashedIcon
            className="absolute -top-3 -right-3 border-2 border-dotted bg-primary/10 fill-primary p-2"
	    size="48"
	    slot="ru-icon"
          />

	  <div slot="body">
          <h4 class="mb-6   text-xl font-bold uppercase">Idiomas</h4>

          <ul class="*:flex *:gap-2 *:  *:font-medium">
            <li>
              <CheckCircleIcon className="fill-primary" size="24" />Español -
              Nativo
            </li>
            <li>
              <CheckCircleIcon className="fill-primary" size="24" />Inglés -
              Intermedio
            </li>
	  </ul>
	  </div>

          <CircleDashedIcon
            className="absolute -bottom-3 -left-3 border-2 border-dotted bg-primary/10 fill-primary p-2"
	    size="48"
	    slot="lb-icon"
          />
          <CircleDashedIcon
            className="absolute -right-3 -bottom-3 border-2 border-dotted bg-primary/10 fill-primary p-2"
	    size="48"
	    slot="rb-icon"
          />
        </div>
      </div>


      <!-- Experiencia -->
      <div class="grid md:grid-cols-2 container mx-auto gap-12 border-b-2 border-dotted py-20">
        <div class="grid gap-6">
          <span class="flex items-center gap-3 mb-8 h-fit">
            <SuitcaseIcon className="fill-primary" size={24} />
            <h3 class="  text-2xl font-bold uppercase">Experiencia</h3>
          </span>

	  { experiencia.map((i,key) => (
          <Card>
            <span slot="body">
		    <h3 class="  text-lg font-bold">{i.titulo}</h3>
              <p class="  text-sm font-bold text-primary uppercase">
	      {i.descripcion}
              </p>
            </span>
	  </Card>
	  )) }
	</div>
  


      <!-- Educacion -->
	  <div class="grid gap-6 h-fit">
          <span class="flex items-center gap-3 mb-8">
            <GraduationCapIcon className="fill-primary" size={24} />
            <h3 class="  text-2xl font-bold uppercase">Educacion</h3>
          </span>

	{ educacion.map((i,key) => (
          <Card>
            <span slot="body">
		    <h3 class="  text-lg font-bold">{i.titulo}</h3>
              <p class="  text-sm font-bold text-primary uppercase">
	      {i.descripcion}
              </p>
            </span>
	  </Card>
	  )) }

        </div>
      </div>


      <!-- Reconocimientos -->
      <div class="grid gap-6 h-fit border-b-2 border-dotted pb-20 container mx-auto py-20">
        <span class="flex items-center gap-3 mb-8">
          <TrophyIcon className="fill-primary" size={24} />
          <h3 class="  text-2xl font-bold uppercase">Reconocimientos</h3>
        </span>

        <div class="grid md:grid-cols-2 gap-6">
          { reconocimientos.map((i,key) => (
            <Card>
              <span slot="body">
                <h3 class="  text-lg font-bold">{i.titulo}</h3>
                <p class="  text-sm text-muted-foreground">
                  {i.descripcion}
                </p>
              </span>
            </Card>
          )) }
        </div>
      </div>


      <!-- Habilidades -->
<div class="max-md:p-10 grid gap-6 h-fit pb-20 container mx-auto py-20">
        <span class="flex items-center gap-3 mb-8">
          <FlaskIcon weight="fill" className="fill-primary" size={24} />
	  <h3 class="  text-2xl font-bold uppercase">Habilidades Tecnicas</h3>
        </span>

        <div class="grid md:grid-cols-2 gap-6">
		{ habilidades.map((i,key) => (
            <Card>
              <span slot="body">
		      <h3 class="text-lg mb-6 text-primary font-bold uppercase tracking-wider border-b-2 border-dotted border-border pb-2   border-b-2 border-dotted">{i.name}</h3>

			<ul class="space-y-3">
			      {i.value.map((item) => (
			      <li class="  flex items-center gap-3">
				      <div class="w-1.5 h-1.5 bg-primary transform rotate-45"></div>

				      <span class="text-foreground font-medium">{item}</span>
		</li>
		))}
			</ul>
		      </div>
              </span>
	    </Card>
          )) }
        </div>
      </div>

    </div>
  </div>
</Main>
